*{
    box-sizing: border-box;
}

.cont{
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.words{
    display: flex;
    flex-direction:column ;
    /* justify-content: ; */
}
.img1
{
    width:400px;
    background-image: url("item1.png");
    background-size: contain;
    border: 1px dotted blue;
    height:400px;
}