*{
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}
.products
{
    border: 1px dotted blue;
    height: 500px;
    background-image: url("https://wallpaperaccess.com/full/4629589.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-shadow: 0 0 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.pro{
    padding-left: 100px;
    font-size: 70px;
}

.items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 3rem 8rem 10rem 8rem;
    row-gap: 4rem;
    column-gap: 3rem;
}

.item1{
    
    padding: 1rem 1rem 1rem 1rem;
     border: 1px solid grey;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     
}

.item1 img{
    padding: 1rem;
}

.gawkhead p{
    padding-top: 2rem;
    margin-left: 8rem;
    font-size: 18px;
    font-weight: 600;
   

}

.gawkhead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sorting{
    padding-right: 8rem;
}

.dropdownboo{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: none;
    padding: 10px 0 10px 20px;
    border: 2px solid #023E8A;
    border-radius: 10px;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
}

