.boo1
{
    display:flex;
    flex-direction: column;

}
.footer
{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding:2rem 10rem;
    background-color:#ADE8F4;

}
.footer-icons
{
    display:flex;
    vertical-align: middle;
    flex-direction: row;
    justify-content: center;
    gap: 0.4rem;
}
.boo1 h3
{
    font-size: 20px;
}
.Links-footer
{
display:flex;
flex-direction: column;
font-size: 17px;
text-decoration: underline;
}
.logo-footer
{
    background-image: url("../assets/images-removebg-preview.png ");
    width:200px;
    height:200px;
    
    background-size:contain;

}
.boo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    
