*{
    box-sizing: border-box;
}



.navbar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    
    align-items: center;
}

.icons
{
    display: flex;
    flex-direction: row;
    gap:1rem;
    padding: 1rem;
    
}