*{
    box-sizing: border-box;
}



.navbar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    
    align-items: center;
}

.name{
    margin-right: 20rem;
}

.icons
{
    display: flex;
    flex-direction: row;
    gap:2rem;
    padding: 1rem;
    
    
}

.searchicon{
    border: 1px solid black;
    background-color: none;
    border-radius: 50px;
}

.searchicon:hover{
    background-color: blue;
}